**/manifest-generator
**/openapi-merger
**/dockebi
**/dockebi-go
**/staffonly
**/doc-publisher
**/deployer
**/releaser
**/references
**/tester
**/jenkins-pipeliner
**/istio-*
**/cert/*.pem

**/nodes*
**/docserver/output

.vscode

.env
.venv
.flake8
.pyproject.yaml
.task